<div>
    <div style="padding: 10px 0">
        <div>
            <label style="display: inline-block; width: 60px; color: black">Start</label>
            <input type="text" [(ngModel)]="start" />
        </div>
        <div>
            <label style="display: inline-block; width: 60px; color:black">Finish</label>
            <input type="text" [(ngModel)]="finish" />
        </div>
    </div>
    <here-map apikey='iMtUVvscnry4lc8AeVIuBEyTxfh-hTMzdTBGJj8dZj4' [start]="start" [finish]="finish" width="70%" height="600px"></here-map>
</div>